 body {
    font-family: Georgia,serif;
    background-image:url('https://hexo-woad-xi.vercel.app/images/back.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
	  background-size: 100% 100%;
}

.content-wrap {
  opacity: 1;
}
​
.sidebar {
  background-color: transparent;
  opacity: 1;
}
​
.header-inner {
  background: #fff;
}
.site-brand-container{
  background: #f44c7bcc;
}
.post-block{
  border-radius: 5px 5px 5px 5px;
}
.site-subtitle{
  color: #fff;
}
.back-to-top{
  right: 10px;
  background: #f66f95;
  opacity: 1;
  width: 100px;
  border-radius: 50%;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
.back-to-top:hover{
  color: #fff;
background-color: #fc6423;
}
.post-block {
  background: #f5f5d5;
}