 body {
    font-family: Georgia,serif;
    background-image:url('https://hexo-woad-xi.vercel.app/images/back.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
	  background-size: 100% 100%;
}

.content-wrap {
  opacity: 1;
}
​
.sidebar {
  background-color: transparent;
  opacity: 1;
}
​
.header-inner {
  background: #fff;
}
.site-brand-container{
  background: #f44c7bcc;
}
.post-block{
  border-radius: 5px 5px 5px 5px;
}
.site-subtitle{
  color: #fff;
}
.back-to-top{
  right: 10px;
  background: #f66f95;
  opacity: 1;
  width: 50px;
  border-radius: 50%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.back-to-top:hover{
  color: #fff;
background-color: #fc6423;
}
.post-block {
  background: #f5f5d5;
}
code {
    background: #f66f95;
    border-radius: 3px;
    color: #ffefef;
    padding: 2px 4px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.btn:hover {
    background: #f66f95;
    border-color: var(--btn-default-hover-border-color);
    color: var(--btn-default-hover-color);
    border: 3px solid #f66f95;
}

.posts-expand .post-title-link::before {
    background: #f66f95;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    visibility: hidden;
    width: 100%;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.posts-expand .post-title-link {
    border-bottom: none;
    color: #f66f95;
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.header-inner {
    background: #f5f5d5;
}
.menu-item-active a, .menu .menu-item a:hover, .menu .menu-item span.exturl:hover {
    background: #f5f5d5;
    box-shadow: inset -5px 5px 10px #e4e4c6, inset 5px -5px 10px #ffffe4;
}
.sidebar-inner {
    background: #f5f5d5;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
    box-sizing: border-box;
    color: var(--text-color);
    width: 240px;
    opacity: 0;
}

a:hover, span.exturl:hover {
    border-bottom-color: #f66f95;
    color: #f66f95;
}

.posts-expand .post-header {
    font-size: 1.125em;
    background: #f5f5d5;
    box-shadow: inset -5px 5px 10px #e4e4c6, inset 5px -5px 10px #ffffe4;
}
.post-body {
    font-size: 1em;
    background: #f5f5d5;
    box-shadow: inset -5px 5px 10px #e4e4c6, inset 5px -5px 10px #ffffe4;
    padding: 10px 30px 40px 30px;
}

.btn {
    border: 2px solid var(--btn-default-border-color);
    border-radius: 2px;
    color: var(--btn-default-color);
    display: inline-block;
    font-size: 0.875em;
    line-height: 2;
    padding: 0 20px;
    text-decoration: none;
    transition-property: background-color;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
a, span.exturl {
    border-bottom: 1px solid #999;
    color: var(--link-color);
    outline: 0;
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    cursor: pointer;
}

.table-container{
  overflow: revert;
}
.highlight, pre {
    background: #0c0c0c;
    color: #4d4d4c;
    line-height: 1.6;
    margin: 0 auto 0px;
}
.code{
  width:100%;
}
