 body {
    background-image:url('https://hexo-woad-xi.vercel.app/images/back.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
	  background-size: 100% 100%;
}

.content-wrap {
  opacity: 1;
}
​
.sidebar {
  background-color: transparent;
  opacity: 1;
}
​
.header-inner {
  background: #fff;
}
.site-brand-container{
  background: #f44c7bcc;
}
.post-block{
  border-radius: 5px 5px 5px 5px;
}
.site-subtitle{
  color: #fff;
}